certifi==2019.9.11
chardet==3.0.4
Click==7.0
cssselect==1.1.0
defusedxml==0.6.0
Django==2.1.4
Flask==1.1.1
Flask-Login==0.4.1
idna==2.8
itsdangerous==1.1.0
jieba==0.39
Jinja2==2.10.3
jsmin==2.2.2
lxml==4.6.5
MarkupSafe==1.1.1
nltk==3.4.5
numpy==1.17.4
pandas==0.25.3
peewee==3.11.2
pycurl==7.43.0.3
PyMySQL==0.9.3
pyquery==1.4.1
pyspider==0.3.10
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.1.2
requests==2.22.0
six==1.13.0
sqlparse==0.3.0
tblib==1.5.0
tornado==4.5.3
u-msgpack-python==2.5.2
urllib3==1.25.7
Werkzeug==0.16.0
WsgiDAV==2.4.1
