<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>

    <link rel="stylesheet"  href="/static/css/bootstrap.min.css"/>

    <script src="/static/js/jquery-1.11.1.min.js"></script>

    <script src="/static/js/jqPaginator.js"></script>


    <script src="/static/js/pager.js"></script>

    <script>

    $(function(){
        load_pager({{totalPages}},{{totalCounts}},{{currentPage}})
    })

    function showdetail(id)
    {
        window.location.href="/home/showdetail?id="+id
    }

    </script>
    <style>
     .center{
         width:100%;
         margin: 0 auto;
         text-align:center;
    }
    form td{
        margin:5px;
        padding:5px;
    }
    </style>

</head>
<body>

<div class="center" style="">

<form action="/source/list/" method="POST" >
{% csrf_token %}

    <div style="margin:20px">
    <table >
    <tr>
        <td>
                网站：
           </td>
            <td>
                <select  class="form-control" name="source" value="{{source}}">
                    <option value="">全部</option>
                    <option value="新浪">新浪</option>
                    <option value="惠农网">惠农网</option>
                    <option value="农村网">农村网</option>
                    <option value="中国农业新闻网">中国农业新闻网</option>
                    <option vlaue="中国农产品网">中国农产品网</option>
                </select>
            </td>


                        <td>
    <input type="submit" class="btn btn-default" />

                            <input type="button" class="btn btn-default" value="新增" />


            </td>
        </tr>

        </table>

    <input name='currentPage' type="hidden" value="{{currentPage}}"/>


    </div>


</form>





<table  class="table"  align="center">
<tr>
    <td>
        id
    </td>
<td>
网站名称
</td>
<td>
    开始链接
</td>

    <td>
最大抓取页数
</td>
<td>
    操作
</td>


</tr>
{% for c in datas %}
<tr>
<td>
{{c.id}}
</td>

<td>
{{c.web_name}}
</td>
<td>
{{c.crawl_start_url|slice:"0:30"}}
</td>
<td>

{{c.crawl_max_page}}
</td>


    <td>
        <input value="编辑" type="button" class="btn" onclick="showdetail({{c.id}})"/>

        <input value="停用" type="button" class="btn" onclick="showdetail({{c.id}})"/>

        <input value="删除" type="button" class="btn" onclick="showdetail({{c.id}})"/>
    </td>

</tr>
{% endfor %}


</table>

  <ul class="pagination" id="pagination"></ul>


</div>
<script>
           $('[name="source"]').val('{{source}}')
</script>



</div>


</body>
</html>