<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link rel="stylesheet"  href="/static/css/bootstrap.min.css"/>
</head>
<body>
<div style="width:90%;margin:0 auto;">
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="/home/index" target="main">新闻查询</a></li>
    <li ><a href="/trend/index" target="main">新闻态势分析</a></li>
    <li role="presentation"><a href="/home/wordcloud" target="main">新闻热点分析</a></li>
    <li role="presentation"><a href="/emotion/index" target="main">负面舆情分析</a></li>
    <li role="presentation"><a href="/emotionkey/index/" target="main">负面舆情设置</a></li>
     <li role="presentation"><a href="/source/index" target="main">新闻来源分析</a></li>
    <li role="presentation"><a href="/source/list" target="main">新闻来源管理</a></li>
    <li role="presentation"><a href="#" target="main">新闻内容管理</a></li>
    <li role="presentation"><a href="#" target="main">农产品关键词管理</a></li>



</ul>
    <div >
        <iframe name="main" style="width:100%;height:700px;" frameborder="0" scrolling="no" src="/home/index">

        </iframe>

    </div>
    </div>
</body>
</html>